.Categorias {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.containerProdutos {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 4rem;
	margin-top: 1rem;
}

@media (max-width: 380px) {
	.Categorias {
		display: grid;
		place-items: center;
		grid-template-columns: repeat(3, 1fr);
		flex-wrap: wrap;
		gap: 1rem;
	}

	.containerProdutos {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
		margin-top: 1rem;
	}
}

@media (min-width: 380px) and (max-width: 768px) {
	.Categorias {
		display: grid;
		place-items: center;
		grid-template-columns: repeat(3, 1fr);
		flex-wrap: wrap;
		gap: 1rem;
	}

	.containerProdutos {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
		margin-top: 1rem;
	}
}

@media (min-width: 768px) and (max-width: 920px) {
	.Categorias {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2rem;
	}

	.containerProdutos {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 4rem;
		margin-top: 1rem;
	}
}

@media (min-width: 920px) and (max-width: 1140px) {
	.containerProdutos {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 4rem;
		margin-top: 1rem;
	}
}
